<% if current_user?(feed_object.user) %>
    <%= link_to "delete", feed_object, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_object.content %>
  <% end %>